<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>ContactRegistration</servlet-name>
        <servlet-class>by.bsu.fpmi.contactRegistration.servlets.AddFullNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactRegistration</servlet-name>
        <url-pattern>/addCompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyRegistration</servlet-name>
        <servlet-class>by.bsu.fpmi.contactRegistration.servlets.AddCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyRegistration</servlet-name>
        <url-pattern>/addHobby</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HobbyRegistration</servlet-name>
        <servlet-class>by.bsu.fpmi.contactRegistration.servlets.AddHobbyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HobbyRegistration</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
</web-app>
